@media only screen and (max-width: 768px) { 
    .container {
      min-width: calc(100% - 20px); /* 10px on each side */
    }
    .menu img {
        display: none;
    }
    h1 {
        margin: ;
    }
}

@media screen and (max-width: 1490px) {
    .menu img {
        opacity: 0;
    }
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #F9FEFF ;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 6rem;
    min-width: calc(100% - 60px);
}

.tempAvatar {
    height: 230px;
    width: 230px;
    border-radius: 30px;
}

h1 {
    position: relative;
    color: #2a3233;
    font-size: 45px;
}

h1::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 20px;
    left: 10px;
    right: -20px;
    bottom: 5px;
    background: #B7D1D1;
    filter: blur(5px);
}

li {
    margin: 15px 0;
}

#bird {
    height: 44.5px;
    width: 60px;
    vertical-align: middle;
    margin-bottom: 5px;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 0;
    margin-right: 20px;
}

.menu img {
    margin: 5px;
    transition: opacity 0.5s ease-out;
}

#camera {
    height: 45px;
    width: 57px;
}

#resume {
    height: 50px;
    width: 55px;
    margin-right: 11.5px;
}

ul {
    list-style-type: none;
}

li img {
    width: 16px; /* adjust to desired width */
    height: 20px; /* adjust to desired height */
    margin-right: 18px; /* add spacing between the image and list item text */
    vertical-align: middle;
    margin-bottom: 5px;
}