@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

@media only screen and (max-width: 768px) { 
    .container {
        min-width: calc(100% - 20px); /* 10px on each side */
    }
    .menu img {
        display: none;
    }

    header {
        margin-top: 60px;
        margin-bottom: 150px;
        font-size: 10px;
    }
    .tempAvatar {
        margin-top: 30px;
    }

    .woop::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 20px;
        left: 10px;
        right: 40px;
        bottom: 5px;
        background: #bddbea ;
        filter: blur(20px);
    }

    li {
        margin: 15px 0;
        letter-spacing: 1px;
        font-family: 'Ubuntu', sans-serif;
        font-size: 15px;
        color: #3F497F;
    }

    h1 {
        font-size: 10px;
    }

    .specialH1 {
        width: 80vw;
        right: 60px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .aboutHeading {
        text-align: center;
        margin-left: 60px;
    }

    .aboutMeP {
        width: 80vw;
    }
}

@media screen and (max-width: 1095px) {
    .menu img {
        opacity: 0;
    }
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #F0F0F0 ;
}

.hoverHere2 {
    height: 50px;
    width: 75px;
    position: absolute;
    margin-left: -80px;
    margin-top: 230px;
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-delay: 9s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

header {
    display: flex;
    height: 90vh;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    min-width: calc(100% - 60px);
    margin-left: 40px;
    margin-right: 40px;
}

.tempAvatar {
    height: 230px;
    width: 230px;
    border-radius: 30px;
}

h1 {
    position: relative;
    color: #3F497F;
    font-size: 35px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}

h1::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 20px;
    left: 10px;
    right: 40px;
    bottom: 5px;
    background: #f5d184 ;
    filter: blur(5px);
}

p {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #9b9592;
    letter-spacing: 1px;
    line-height: 1.5rem;
}

ul {
    list-style-type: none;
}

li img {
    width: 16px;
    height: 20px;
    margin-right: 18px;
    vertical-align: middle;
    margin-bottom: 5px;
}

.eggs-list li {
    opacity: 0;
    margin: 15px 0;
    letter-spacing: 1px;
    font-family: 'Ubuntu', sans-serif;
    color: #5a5a5a;
    font-size: 15px;
}

@keyframes sequential-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.eggs-list li:nth-child(1) {
    animation: sequential-animation 1s ease-out forwards 4s;
}

.eggs-list li:nth-child(2) {
    animation: sequential-animation 1s ease-out forwards 5s;
}

.eggs-list li:nth-child(3) {
    animation: sequential-animation 1s ease-out forwards 6s;
}

.eggs-list li:nth-child(4) {
    animation: sequential-animation 1s ease-out forwards 7s;
}

.eggs-list li:nth-child(5) {
    animation: sequential-animation 1s ease-out forwards 8s;
}

#bird {
    height: 44.5px;
    width: 60px;
    vertical-align: middle;
    margin-bottom: 5px;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 0;
    padding: 20px
}

.menu img {
    margin: 5px;
    transition: opacity 0.5s ease-out;
}

#camera {
    height: 45px;
    width: 57px;
}

#resume {
    height: 50px;
    width: 55px;
    margin-right: 11.5px;
}

h6 {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: #F0F0F0;
    font-size: 12px;
    margin-top: 6px;
}

.avatarTextRow2 {
    margin-top: -20px;
}

#arrow {
    display: flex;
    margin: 20px auto;
    margin-top: 0px;
    height: 50px;
    width: 50px;
    position: relative;
    animation-name: arrow-move;
    animation-duration: 2s;
    animation-delay: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes arrow-move {
    0% {
    transform: translateY(0);
    }
    50% {
    transform: translateY(-5px);
    }
    100% {
    transform: translateY(0);
    }
}

.gitCodeWrapper {
    height: 60px;
}

.gitCode {
    scale: 0.4;
    opacity: 50%;
    cursor: pointer;
}

.projects {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px auto;
}

.projImg {
    height: 200px;
    width: 210px;
}

.firstProj {
    scale: 0.25;
    margin-left: 600px;
    margin-top: 300px;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-in-out 4s;
}

.fade-in {
    opacity: 1;
}

.projectSect {
    margin: 60px auto;
    max-width: 900px;
}

.specialH1 {
    color: #3F497F;
    font-size: 25px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    padding: 0 100px;
    text-align: center;
    line-height: 40px;
}

.specialH1Wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 60px;
}

.specialH1::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 20px;
    bottom: 15px;
    background: #99cdc6 ;
    filter: blur(30px);
}

#aboutMe {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
}

.aboutHeading {
    width: 300px;
}

.aboutWrapper {
    max-width: 900px;
}

.aboutHeading::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 20px;
    left: 20px;
    right: 25px;
    bottom: 5px;
    background: #f5d184 ;
    filter: blur(5px);
}

.aboutParaWrap {
    display: flex;
    flex-direction: column;
    margin: auto 70px;
}

#arrow2 {
    margin-top: 100px;
    display: flex;
    margin: 20px auto;
    height: 50px;
    width: 50px;
    position: relative;
    animation-name: arrow-move;
    animation-duration: 2s;
    animation-delay: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.socials img {
    width: 50px;
    height: 50px;
    margin-bottom: 40px;
}

.socialsWrapper {
    display: flex;
    flex-direction: column;
}

footer {
    background-color: #f5d184;
    text-align: center;
    padding: 20px;
    color: #3F497F;
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}

#heart {
    height: 20px;
    width: 25px;
    vertical-align: middle;
    margin-bottom: 5px;
}

a {
    color: #00235B;
}

a:active {
    color: #E21818;
}

.contactHeading {
    width: 300px;
}

.contactHeading::before {
    display: none;
}

#contactMe {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
}

.resumeContainer {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 20px;
}

#resume2 {
    border-radius: 30px;
    height: 1271px;
    width: 900px;
}

#homeBtn {
    height: 40px;
    width: 47px;
    position: sticky;
    margin: auto;
    padding: 40px;
    animation-name: home-move;
    animation-duration: 5s;
    animation-delay: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes home-move {
    0% {
    transform: translateY(0);
    }
    50% {
    transform: translateY(-5px);
    }
    100% {
    transform: translateY(0);
    }
}
